body {
	font-family: Helvetica;
	margin-top: 80px;
	margin-left: 40px;
}

h1 {
	font-size: 48px;
	text-align: center;
	margin: 3px;
}

h2 {
	
}

.author {
	font-weight: bold;
	font-size: 30px;
	text-indent: 124px;
	margin: 3px;
}